.logo-container {
  z-index: 0;
  width: 700px;
  height: auto;
  opacity: 1;
  position: absolute;
  right: 50%;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(-20deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(-20deg) !important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #7853ff;
  stroke-width: 10;
}
